[submodule "/Users/rainer/.tmux/plugins/tpm"]
	path = /Users/rainer/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/rainer/.fzf"]
	path = /Users/rainer/.fzf
	url = https://github.com/junegunn/fzf.git
